.experiences-list__title {
    margin-bottom: 16px;
}

.experiences-list__text {
    display: inline-block;
    max-width: 320px;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 50px;
}
