.game-description {
    text-align: center;
    padding: 0 40px;
}

.game-description__title {
    font-family: Karla, sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: #2b283a;
}

.game-description__description {
    font-size: 13px;
    line-height: 16px;
    color: #4a4e74;
}
