* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

html {
    background: #0093e9 linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    min-height: 100vh;
}

body {
    font-family: Karla, sans-serif;
    color: #fff;
}
