@font-face {
    font-family: Karla;
    src: url("@/assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Karla;
    src: url("@/assets/fonts/Karla-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url("@/assets/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}
