.button {
    background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    letter-spacing: -1px;
}
