@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url("@/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Karla;
    font-weight: bold;
    src: url("@/assets/fonts/Karla-Bold.ttf") format("truetype");
}
