.header {
    background: #f55a5a;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.header__logo {
    margin-right: 7px;
}
